<div>
  <div>
    <h1>Crear Producto</h1>
    <form action="">
      <label>Titulo</label>
      <input id="titulo"/>

      <label>Descripcion</label>
      <input id="descripcion"/>

      <label>Precio</label>
      <input id="precio" />

      <label>Thumbnail</label>
      <input id="thumbnail" />

      <label>Code</label>
      <input id="code" />

      <label>Stock</label>
      <input id="stock" />
    </form>
  </div>

  <p id="log"></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>