<div>
  <div>
    <h1>Crear Producto</h1>
    <form action="" id="form">
      <label>Titulo</label>
      <input id="titulo" />

      <label>Descripcion</label>
      <input id="descripcion" />

      <label>Precio</label>
      <input id="precio" />

      <label>Status</label>
      <input id="status" />

      <label>Thumbnail</label>
      <input id="thumbnail" />

      <label>Code</label>
      <input id="code" />

      <label>Stock</label>
      <input id="stock" />

      <button type="button" id="boton" onclick="getData()">Enviar</button>
    </form>
  </div>
  <div>
    <h1>Lista de productos:</h1>
    <div id="lista"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>