<div class="containerRegister">
  <h1>Registro</h1>
  <div class="form">
    <form id="registerForm">

      <input name="first_name" placeholder="Nombre" />

      <input name="last_name" placeholder="Apellido" />

      <input name="email" placeholder="Email" />

      <input name="age" placeholder="Edad" />

      <input type="password" name="password" placeholder="Contraseña" />

      <input name="rol" placeholder="Rol" />

      <input type="submit" class="btn" />

    </form>

    <p>¿Ya tienes una cuenta? <a href="/">Ingrese aquí</a></p>
  </div>

</div>
<script src="/js/register.js"></script>
<link rel="stylesheet" href="/css/register.css" />