<div class="containerReset">
  <h1>Restaure su contraseña</h1>
  <div class="form">
    <form id="restartPassword">
      <input name="email" placeholder="Email" />

      <input name="password" placeholder="Nueva contraseña" />

      <input type="submit" class="btn" />
    </form>

    <p>Ya tienes una cuenta? <a href="/">Ingrese aquí</a></p>
  </div>
</div>

<script src="/js/resetPassword.js"></script>
<link rel="stylesheet" href="/css/resetPassword.css" />