*{
    box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
}

#lista {
    display: grid;
    border: 1px red solid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.producto {
    border: 1px solid black;
}

.producto p{
    display: flex;
    justify-content: center;
}
