*{
    box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: center;
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.product {
    border: 1px solid black;
}

.product div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.product p{
    display: flex;
    justify-content: center;
}

.boton{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.page{
    display: flex;
    justify-content: center;
    margin: 2rem;
}