body {
  background-color: #f2ebe3;
}

.containerForm {
  border-radius: 24px;
  margin: 8%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.form {
  padding: 8%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form form {
  display: flex;
  flex-direction: column;
}

.form input {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  padding: 2rem;
  border: 0;
  border-bottom: 1px solid burlywood;
}

.imageForm {
  width: 30%;
  border-left: 1px black;
}

.imageForm img{
    width: 100%;
    height: 100%;
}

.btn {
  padding: 0;
  height: 12px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}
